body {
  background-image: url(https://static.vecteezy.com/system/resources/previews/017/023/144/non_2x/green-abstract-background-green-background-design-abstract-futuristic-background-green-modern-background-green-abstract-background-for-templates-cards-and-websites-free-vector.jpg);
  color: white;
}

.list {
  text-align: right;
  list-style: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
  text-shadow: 6px 4px 4px black;
  position: absolute;
  top: 23%;
  left: 72%;
}

.list {
  width: 10px;
  height: 170px;
}

.list li:hover {
  cursor: pointer;
  text-decoration: line-through;
}

.grocery {
  font-size: 30px;
  border: 4px solid black;
  border-radius: 4px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: absolute;
  top: 30%;
  left: 30%;
}

.addBtn {
    font-size: 30px;
    border: 3px solid black;
    border-radius: 3px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top: 30.2%;
    left: 59%;
   
}

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 50px;
  text-shadow: 6px 5px 4px black;
  text-align: center;
}

.Purchased {
  color: #ccc;
  position: absolute;
  top: 28.5%;
  left: 10%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-shadow: 2px 2px 4px black;
  text-shadow: 6px 5px 4px black;

  width: 10px;
  height: 170px;
}

.strikethrough:hover {
  text-decoration: line-through;
}

h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-shadow: 6px 5px 5px black;
    border: 10px;
    border-color: 10px;
    

   
}

.list h2 {
   
    
}

.list button {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  margin: 3px;
  padding: 5px;
}

.list button:hover {
  cursor: pointer;
  text-decoration: line-through;
}

.Purchased button {
  text-decoration: line-through;
  font-size: 20px;
  margin: 3px;
  padding: 5px;
}
